@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

/* Header Styling Start */
.header-container,
footer {
  background-color: #313131;
}

.header-container {
  display: flex;
  height: 275px;
  flex-direction: column;
  padding: 10px 28px 32px 28px;
}

.header-links {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 21px;
  list-style: none;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

a:hover {
  text-shadow: 1px 1px 2px rgb(193, 142, 79);
}

.hero-text-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 84px;
}

.main-hero-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 350px;
}

.main-hero-text h1 {
  font-size: 40px;
  font-weight: 900;
  color: #f9faf8;
}

.main-hero-text p {
  font-size: 16px;
  font-weight: lighter;
  color: #bbbbbb;
  width: 400px;
}

.sign-up-button {
  background-color: rgb(153, 116, 70);
  border: none;
  width: 108px;
  padding: 6px 12px 6px 12px;
  border-radius: 4px;
  color: #f9faf8;
  font-weight: 700;
  margin-top: 5px;
}

.sign-up-button:hover {
  background-color: rgb(165, 124, 74);
  cursor: pointer;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.187);
}

.header-logo {
  font-size: 24px;
  color: #f9faf8
}

.header-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #484848;
  width: 405px;
  height: 190px;
  color: #e5e7eb;
  flex-shrink: 0;
}
/* Header Styling End */

/* Section 1 Styling Start */
.section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 275px;
  padding: 25px 32px 52px 32px;
  gap: 30px;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.box {
  text-align: center;
  max-width: 145px;
  color: rgb(128, 134, 142);
  font-size: small;
}

.box div {
  border-style: solid;
  border-color: rgb(153, 116, 70);

  border-radius: 10px;
  border-width: 2.5px;
  width: 140px;
  height: 140px;
  margin-bottom: 6px;
}
/* Section 1 Styling End */

/* Section 2 Styling Start */
.section-two {
  display: flex;
  height: 275px;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
}

.quote-container p {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 900;
  font-size: 18px;
}

.quote {
  font-size: 26px;
  max-width: 600px;
  font-style: italic;
  font-weight: 300;
  color: rgb(54, 61, 73);
}

.quote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.05em;
  margin-right: 0.20em;
  vertical-align: -0.4em;
}
/* Section 2 Styling End */


/* Section 3 Styling Start */
.section-three {
  display: flex;
  height: 275px;
  justify-content: center;
  align-items: center;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  background-color: rgb(153, 116, 70);
  width: 1000px;
  height: 100px;
  border-radius: 6px;
  color: #f9faf8;
  padding: 12px 0px;
}

.call-to-action p {
  font-weight: 300;
}

.btn2 {
  border-style: solid;
}
/* Section 3 Styling End */

/* Footer Styling Start */
footer {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}
/* Footer Styling End */